<!DOCTYPE html>
<html lang="en">
<head>
<title>CV Jeferson Murallas</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="app.component.css">
</head>
<body>

<div class="topnav">
  <a href="app.component.html">Información</a>
  <a href="#form">formulario</a>
</div>
<div class="Titulo">
  <div style="width: 60%; float:left"><h1>Jeferson Alenaxander Dominguez Murallas</h1>
  <h3>Estudiante de Ingenieria en sistemas de la Universidad industrial de santander</h3>
</div>
<div style="width: 40%; float:right; text-align:right;">
 <img class="presentacion" src="./assets/JefersonMurallas.jpg" > 
</div>
</div>
<div class="Perfil">
  <h3 style="text-align: left;">Perfil</h3>
  <p style="text-align: left">Fuertemente enfocado y disiplinado con la habilidad de completar tareas de forma precisa en un entorno de trabajo rapido.<br>
  Reeconozco la importancia de un ambiente de trabajo libre de tensiones, en dondelos miembros del grupo de trabajose sientan comodos y les faciliten sus responsabilidades laborales</p>
</div>
<div class="FormacionAcademica">
  <h3>Formcion Academica</h3>
  <ul>
  <li>
    <h4>Escuela Normal Superior de Bucaramanga</h4>
    <p>Bachiller academico - 2013</p>
  </li>
  <li>
    <h4>Universidad Industrial de Santander</h4>
  <p>Noveno semestre de Ingeniería de Sistemas<br>2016 - Actual</p>
  </li>
</ul>
</div>

<div class="Experiencia">
<h3>Experiencia laboral</h3>
<h4>Formación universitaria</h4>
<p>Dentro de mi formación universitaria he tenido la oportunidad de participar en varios desarrollos web con los que he implementado los conocimientos adquiridos dentro de las catedras propias de la carrera. En estos desarrollos cabe ressaltar mi participación en el grupo de investigación Cv+OMI grupo basado en optica y trtamiento de señales, donde a demas de ser miembro con proyecto activo, mi participación en web se dió en el desarrollo de la pagina oficial para el primer congreso de optica y tratamiento de señales que realizó el grupo. <br> tambien resalto los desarrollos propios que se llevan en las catedras de la carrera donde se adquieren los conocimientos claves para iniciar en el mundo del desarrollo web </p>
<h4>YMCA Santander</h4>
<p>Dentro de esta organización he sido parte del equipo de desarrollo de la pagina web oficial, pagina que actualmente se encuentra en revisión de los temas de imagen corporativa para poder ser lanzada. Este desarrollo basado en php ha tenido un largo proceso de seguimiento y cambios, actualmente y porla facilidad de tener gestores de contenido el proyecto migro a el entorno de desarrollo de wordpress</p>
  
</div>

<div>
  <h4>Si deseas contactarte deja tus datos mensaje estaré feliz de contestar</h4>
  <form>
       <label for="nombre">Nombre:</label>
       <input id="nombre" name="nombre" placeholder="Nombre completo">
       <label for="email">Email:</label>
       <input id="email" name="email" type="email" placeholder="ejemplo@email.com">
       <label for="mensaje">Mensaje:</label>
       <textarea id="mensaje" name="mensaje" placeholder="Danos tu mensaje"></textarea>
       <input id="submit" name="submit" type="submit" value="Enviar">
</form> 
</div>
<a name="form"></a><br>
  


<div class="footer">
  <p>
    Jeferson ALexander Dominguez Murallas <br>
    jefersonmurallasoutlook.com <br>
    Bucaramanga - Santander
  </p>
</div>

</body>
</html>
